body {
    font-family: 'Lato', sans-serif;
}

.hr{
    background: rgba(99, 95, 95, 0.1);
    width: 244px;
    height: 0.5px;
}

@media screen and (max-width:576px) {

    .navbar-start,
    .navbar-end {
        visibility: hidden;
    }

    .navbar {
        position: relative;
        height: 150px;
    }

    .navbar-center {
        position: absolute;
        left: 10px;
    }

    .navbar-center img {
        height: 50px;
        width: 50px;
    }

    .navbar-center a {
        font-size: 24px;
        color: black;
    }
    #banner-bottom-part{
        visibility: hidden;
    }
}
@media screen and (min-width: 576px) and (max-width:992px) {
    #banner-bottom-part{
        visibility: hidden;
    }
    .navbar-start{
        visibility: hidden;
        position: absolute;
    }
    #menu-links{
        margin-left: 170px;
    }

}